name: Check end

on:
 # schedule:
  #  - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Public Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          path: final-destination

      - name: Checkout Private Source Repo
        uses: actions/checkout@v4
        with:
          repository: F0rc3Run/Go-xray-tester
          token: ${{ secrets.PAT }}
          path: source-app

      - name: Set up Go with Cache
        uses: actions/setup-go@v5
        with:
          go-version: '1.19'
          cache-dependency-path: ./source-app/go.sum

      - name: Caching Xray Core
        id: cache-xray
        uses: actions/cache@v4
        with:
          path: ./source-app/xray
          key: ${{ runner.os }}-xray-core

      - name: Download Xray Core
        if: steps.cache-xray.outputs.cache-hit != 'true'
        working-directory: ./source-app
        run: |
          wget -q -O xray.zip https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-64.zip
          unzip -o xray.zip xray
          chmod +x xray
          rm xray.zip
      
      - name: Run Go App to Generate Results
        working-directory: ./source-app
        run: |
          go mod tidy
          go run .

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run Python Script to Process Results
        working-directory: ./source-app
        run: python generate_stats.py
      
      - name: Organize Output Files
        working-directory: ./final-destination
        run: |
          rm -rf ./splitted-by-protocol ./splitted-by-country
          mv ../source-app/proxies.txt .
          mv ../source-app/sub.txt .
          mv ../source-app/stats.json .
          mv ../source-app/summary.md .
          mv ../source-app/splitted-by-protocol .
          mv ../source-app/splitted-by-country .

      - name: Commit and Push All Changes
        working-directory: ./final-destination
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          if ! git diff --staged --quiet; then
            git commit -m "Update and categorize proxy lists"
            git push
          else
            echo "No changes to commit."
          fi
